<div class="tabs"><a href="#" class="active">Tab 1</a><a href="#">Tab 2</a><a href="#">Tab 3</a></div>
<div class="swiper-container">
    <div class="swiper-wrapper">
        <!--First Slide-->
        <div class="swiper-slide">
            <div id="map">
                <!-- INSERT BAGROUND IMAGE AND LOADER GIF -->
            </div>
        </div>

        <!--Second Slide-->
        <div class="swiper-slide" class="active">
            <h2>Page 2</h2>
            <button onclick="capturePhoto()">Toast</button>
            <img class="smallImage" src="" alt=""/>
        </div>

        <!--Third Slide-->
        <div class="swiper-slide">
            <h2>User info:</h2>
            <div id="id"></div>
            <div id="username"></div>
            <div id="password"></div>
            <div>
                <button onclick="user.logout();">Logout</button>
            </div>
        </div>
    </div>
    <script>
        $("#id").html(user.id);
        $("#username").html(user.username);
        $("#password").html(user.password);
    </script>
</div>