* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@pink: #f56f6c;
@blue: #205f69;
@grey: #7a7d86;
@darkGrey: #252932;
@altGrey: #1c2127;
@green: #5eb73c;

.boxSizing {
    box-sizing: border-box;
}

.clear() {
    width: 0;
    height: 0;
    visibility:hidden;
    font-size: 0;
    display: block;
    clear: both;
    content: "";
}

.radius(@radius: 10px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.topRadius(@radius: 10px) {
  -webkit-border-top-left-radius: @radius;
  -moz-border-top-left-radius: @radius;
  -ms-border-top-left-radius: @radius;
  -o-border-top-left-radius: @radius;
  border-top-left-radius: @radius;
  -webkit-border-top-right-radius: @radius;
    -moz-border-top-right-radius: @radius;
    -ms-border-top-right-radius: @radius;
    -o-border-top-right-radius: @radius;
    border-top-right-radius: @radius;
}

.bottomRadius(@radius: 10px) {
  -webkit-border-bottom-left-radius: @radius;
  -moz-border-bottom-left-radius: @radius;
  -ms-border-bottom-left-radius: @radius;
  -o-border-bottom-left-radius: @radius;
  border-bottom-left-radius: @radius;
  -webkit-border-bottom-right-radius: @radius;
    -moz-border-bottom-right-radius: @radius;
    -ms-border-bottom-right-radius: @radius;
    -o-border-bottom-right-radius: @radius;
    border-bottom-right-radius: @radius;
}

.clear {
    clear: both;
    width: 0;
    height: 0;
    font-size: 0;
    visibility: hidden;
}

h1, h2, h3, h4 {
    color: #fff;
    margin: 10px 0px;
    display: inline-block;
}

h1 {
    font-family: 'Lobster', Arial, sans-serif;
    font-size: 30px;
}

h2, h3, h4 {
    font-family: 'Open sans', Arial, sans-serif;
    font-weight: normal;
}

h2 {
    font-size: 23px;
    margin-bottom: 0px;
}

h3 {
    font-size: 18px;
    font-weight: light;
    margin-bottom: 5px;
    margin-top: 5px;
}

h4 {
    font-size: 16px;
}

html {
    width: 100%;
    height: 100%;
    background-color: #E4E4E4;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:@blue;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 125%;
    height:100%;
    font-family: 'Open sans', sans-serif;
    margin:0px;
    padding:0px;
    width:100%;
}

.center {
    text-align: center;
    display: block;
}

#content {
    width: 100%;
    height: 100%;
}

/** Google maps MAP size **/
#map {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 50;
}

/** AJAX LOADER **/

#loading {
    position: absolute;
    z-index: 99999999; /* Always on top! */
    display: none;
    width: 100%;
    height: 100%;
    background: url("../img/loader.GIF") rgba(0,0,0,0.3) no-repeat center center;
}

/** REMOVE GOOGLE ESSENTIALTS **/
.gmnoprint a, .gmnoprint span {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
img[src="http://maps.gstatic.com/mapfiles/api-3/images/google_white2.png"], a[href^="http://maps.google.com/maps"]{
     display:none !important;
}

.content {
    padding: 20px;
    box-sizing: border-box;
}

/* Swipe taps */
.tabs {
    width: 100%;
    background: #ccc;
}

.tabs a {
    background: #ccc;
    color: #000;
    display: inline-block;
    padding: 20px;
    box-sizing: border-box;
    width: 33.333333%;
    position: relative;
    text-align: center;
    transition: all 0.3s;
}

.tabs a.active {
    background: #f1f1f1;
    color: #666;
    transition: all 0.3s;
}

#showEgg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5) inset;
}

.blue {
    background: @blue;
}

.pink {
    background: @pink;
}

.grey {
    background: @grey;
}

.darkGrey {
    background: @darkGrey;
}

.green {
    background: @green;
}

.altGrey {
    background: @altGrey;
}

.fixedTop, .absoluteTop, .absoluteTopLeft, .absoluteTopRight {
    z-index: 3000;
    top: 15px;
    box-sizing: border-box;
}

.absoluteTopLeft {
    left: 20px;
    position: absolute;
}

.absoluteTopRight {
    right: 20px;
    position: absolute;
}

.fixedTop {
    position: fixed;
    width: 100%;
}

.absoluteTop {
    width: 100%;
    position: absolute;
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1500;
    background: transparent;
}

.background {
    box-sizing: border-box;
    padding: 75px 20px 0px;
    position: relative;
}

.bottomLogin {
    position: absolute;
    bottom: 20px;
    left: 0;
    color: #fff;
    font-size: 15px;
    .boxSizing();
    padding: 0px 15px;
    width: 100%;
    text-decoration: underline;
}

.left {
    float: left;
    display: inline-block;
}

.right {
    float: right;
    display: inline-block;
}

#friends {
    padding: 20px;
    box-sizing: border-box;
}

.friendList {
    ul {
        list-style: none;
        padding: 0;
        li {
            padding: 5px 20px;
            border-bottom: 1px solid #fff;
            .friendImage {
                width: 50px;
                height: 50px;
                overflow: hidden;
                border-radius: 50%;
                box-sizing: border-box;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                float:left;
            }
            .friendName {
                font-size: 15px;
                color: #fff;
                float:left;
                margin-top: 13px;
                margin-left: 15px;
            }
            &:nth-of-type(2n) {
                background: rgba(255,255,255,0.1);
            }
            &:after {
                .clear();
            }
        }
    }
}

.loginForm {
    background: #fff;
    border-radius: 10px;
    margin-top: 10px;
    padding: 0;
    .inputHolder {
        padding: 10px;
        font-size: 18px;
        border-bottom: 1px solid #ccc;
        .label {
            float:left;
            margin-right: 10px;
        }
        input[type='text'], input[type='password'] {
            float: left;
            color: #666;
            height: 60px;
            border: none;
        }
        &:last-of-type {
            border-bottom: none;
        }
    }
    input[type='submit'], .loginSubmit {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        .bottomRadius(10px);
        text-align: center;
        color: #fff;
        margin: 0;
        border: none;
    }
}

/* Marker */

img[src*="mapsIcon"] {
    position: absolute !important;
    z-index: 999999 !important;
}


#profileMenu {
    .profileImage {
        width: 130px;
        height: 130px;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 50%;
        position: relative;
        box-shadow: 0px 0px 0px 7px #2e323b;
        box-sizing: border-box;
        margin-top: 20px;
    }
    .profileInfo {
        margin-top: 10px;
        #fullName {
            font-size: 18px;
            color: #fff;
            text-align: center;
        }
        #fillUsername {
            text-align: center;
            font-size: 16px;
            color: @pink;
            font-style: italic;
        }
    }
    .profileNav {
        ul {
            list-style: none;
            padding: 0;
            li {
                display: block;
                width: 100%;
                padding: 10px 15px;
                box-sizing: border-box;
                border-bottom: 1px solid #3f4247;
                .icon {
                    float:left;
                }
                .navText {
                    float:left;
                    margin-left: 25px;
                    margin-top: 10px;
                    color: #fff;
                    font-size: 18px;
                }
                &:after {
                    content: "";
                    display: block;
                    width: 0;
                    height: 0;
                    clear: both;
                }
            }
            li.active {
                background: #1c2127
            }
        }
    }
}

#settings {
    button {
         .radius(5px);
        width: 100%;
        box-sizing: border-box;
        font-family: 'Lobster', Arial, sans-serif;
        font-size: 17px;
        color: #fff;
        text-align: center;
        border: none;
        padding: 15px 0px;
        margin-bottom: 10px;
    }
}

#changeProfileImage {
    .center {
        .profileImage {
            width: 110px;
            height: 110px;
            margin: 0 auto;
            overflow: hidden;
            border-radius: 50%;
            position: relative;
            box-shadow: 0px 0px 0px 7px #2e323b;
            box-sizing: border-box;
            margin-top: 5px;
            margin-bottom: 15px;
        }
    }
    &:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        clear: both;
    }
}

#changeName {
    margin-top: 25px;
    .inputHolder {
        width: 48%;
        .label {
            font-size: 14px;
            color: #fff;
        }
        input {
            text-align: center;
            width: 100%;
            padding: 3%;
            box-sizing: border-box;
            .radius(3px);
            font-size: 13px;
            border: none;
        }
        &:after {
            content: "";
            width: 0;
            height: 0;
            clear: both;
            display: block;
        }
    }
    .first {
        float:left;
    }
    .last {
        float: right;
    }
    &:after {
        width: 0;
        height: 0;
        display: block;
        content: "";
        clear: both;
    }
}

.showChanger {
    padding: 10px;
    -webkit-transform: translate3d(0, 0, 0);
    box-sizing: border-box;
}

.friendPadding {
    padding: 60px 20px 20px;
    box-sizing: border-box;
    h2 {
        position: absolute;
        top:45px;
        left: 0;
        background: #1c2127;
        display: inline-block;
        padding: 5px 10px;
        border-right: 1px solid #3f4247;
        border-bottom: 1px solid #3f4247;
        font-size: 13px;
    }
}

/* warp speed ahead */
.animClass {
	-webkit-transform: translate3d(0, 0, 0);
	/* more specific animation properties here */
}

.absoluteLayEgg {
    z-index: 1600;
    text-align: center;
    .radius(5px);
}

.absoluteBottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    button {
        width: 100%;
        box-sizing: border-box;
        font-family: 'Lobster', Arial, sans-serif;
        font-size: 17px;
        color: #fff;
        text-align: center;
        border: none;
        padding: 25px 0px;
        margin: 0;
    }
}

.fixedProfile {
    position: absolute;
    top: -80px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    z-index: 9999;
    background: #1c2127;
    border-bottom: 1px solid #3f4247;
    .fixedProfileImage {
        float: left;
        width: 35px;
        height: 35px;
        .radius(50%);
    }
    .fixedFullName {
        float:left;
        margin-left: 20px;
        font-size: 16px;
        color: #fff;
        margin-top: 8px;
    }
    &:after {
        content: "";
        clear: both;
        display: block;
        width: 0;
        height: 0;
        visibility: hidden;
    }
}